*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    margin: 0;
}
#header {
    display: flex;
    background-color: #333333;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    transition-duration: 0.5s;
}
#header:hover{
    background-color: #000000;
    transition-duration: 0.5s;
}
#logo{
    margin-right: 10px;
    margin-top: 5px;
}
#menu>a{
    margin-left:40px;
    color: whitesmoke;
    text-decoration: none;
    padding-bottom: 17px;
}
#menu>a:hover{
    border-bottom: cyan solid;
}
#perfil>a{
    margin-left: 910px;
    color: whitesmoke;
    text-decoration: none;
    padding-bottom: 17px;
}
#perfil>a{
    color: whitesmoke;
    text-decoration: none;
    padding-bottom: 17px;
}
#perfil>a:hover{
    border-bottom: cyan solid;
}
#redes{
    display: flex;
    justify-content: center;
}
.red{
    align-items: center;
    display: flex;
    width: 10%;
    justify-content: center;
    transition-duration: 0.1s;
    cursor: pointer;
}
.red:hover{
    background-color: yellowgreen;
    transition-duration: 0.5s;
}

#productos{
padding: 10px 40px 10px 40px;
display: flex;
flex-direction: column;
}

#cuerpo{
        padding-top: 100px;
    min-height: 100vh;
    padding-top: 120px;
    background-image: url("images/fond0.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
#fondo_historial{
    background-color: rgba(240, 248, 255, 0.966);
    margin: 10px,10px,10px,0;
    padding: 10px 10px 200px 10px;
    display: flex;
    justify-content: space-between;
}
#fondo_opaco{
    background-color: rgba(240, 248, 255, 0.087);
    margin: 10px,10px,10px,0;
    padding: 10px 10px 200px 10px;
    display: flex;
    justify-content: space-between;
}
#descripcion{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
}
#descripcion>img{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
hr{
    border-top: 0px;
    border-bottom: 1px solid black;
}